{% extends "apptienda/base.html" %}
{% load static %}
{% block content %}

<title>MAPE-Contacto</title> 

<body class="contec-contac">
    <div class="m-4">
        <div class="card" >
            <ul class="list-group">
                <li class="list-group-item" >
                    <div class="card-body">
                        <h4 class="card-title">Contactanos</h4>
                        <p class="card-text">El espíritu de MAPE es fresco y creativo y tiene como objetivo 
                            sorprender al mercado con cada una de sus creaciones.
                            Nuestra principal propuesta es el índigo y queremos ser la mejor opción 
                            para quienes quieren ser parte de una moda en constante movimiento y evolución.</p>
                    </div>
                </li>

                <li class="list-group-item" >
                    <a href="https://wa.me/+573116274882?text=¡Estoy+interesado!" target="_blank">
                    <img src="{% static 'apptienda/imagen/what.png' %}" width="45" height="30">
                    </a>
                    <a class="" href="https://wa.me/+573116274882?text=¡Estoy+interesado!" target="_blank"> +57 311 6274882</a>
                </li>
    
                <li class="list-group-item ">
                    <a href="https://www.facebook.com/mueblesyaccesoriosparaelhogarMAPE" target="_blank"> 
                        <img src="{% static 'apptienda/imagen/face.png' %}" width="45" height="30">
                    </a> 
                    <a class="" href="https://www.facebook.com/mueblesyaccesoriosparaelhogarMAPE" target="_blank"> MAPE Muebles y Accesorios Para El Hogar </a>
                </li>
    
                <li class="list-group-item">
                    <a class="" href="https://www.instagram.com/mape_muebles" target="_blank">
                        <img src="{% static 'apptienda/imagen/insta.png' %}" width="45" height="30"> @mape_muebles 
                    </a>   
                </li>
              
                <li class="list-group-item">
                    <p class=""> &nbsp;Calle. 71 Sur ## 89 b -14, Bogotá</p>
                </li> 

                <li class="list-group-item" style="text-align:center ;">
                    <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8206794574166!2d-74.20163568466529!3d4.626060493586945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e0bcfc5a805%3A0xd2225331cc0488a6!2sMAPE%20Muebles%20Y%20Accesorios%20Para%20El%20Hogar!5e0!3m2!1ses-419!2sco!4v1658173335382!5m2!1ses-419!2sco"
                    style="width:90% ; text-align: center;" ></iframe>   
                </li>
            </ul>
            
        </div>
    </div>
</body>  

{% endblock %}