{% extends "appmyweb/base.html" %}

{% load static %}




{% block content %}


<!--             AQUI VA EL CONTENIDO DE LA PAGINA                  --> 


<!--------------------------CARRUSEL---------------------------------->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%"  height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/dormitorio1.jpg' %}">
        

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Camas</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/sala1.jpg' %}">

        <div class="container">
          <div class="carousel-caption">
            <h1>Salas</h1>
            <p>Texto </p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/variado.jpg' %}">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Servicios</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!------------------------FIN CARRUSEL-------------------------------->

<!----------------------------SUB TEMAS 1----------------------------->
<div class="container">    
  <div class="row" style="width: 100%; margin: auto; text-align: center;">
    <div class="col" style="text-align:center ;" >
      <img class="rounded-circle" style="border: 8px outset;width: 60%; max-width: 130px; height: auto;"  src="{% static 'appmyweb/imagen/comedor1.jpg' %}">        
      <p style="font-size: 3vh;">Dormitorios1</p>
    </div>
    
  </div>
</div>
<!----------------------------FIN TEMAS 1------------------------------>

<!-----------------------CCONTENIDO DE PRODUCTOS----------------------->
<div class="container" style="margin: auto; width: 85%; text-decoration: center;">
  <div class="row">

    {% for producto in productos %}

    <div class="col">
      <div class="card">
        <img class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" src="{{producto.imagen.url}}" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{producto.nombre}}</text> <!-- 500x500-->               
      <!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <div class="card-body">
          <p class="card-text">{{producto.contenido}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
            </div>
            <small class="text-muted">{{producto.precio}}</small>
          </div>
        </div>
      </div>
    </div>
  
    {% endfor %} 
 
  </div>
  <hr class="featurette-divider">
</div>

<!---------------------------------------------------------------------->
    
    

{% endblock %}