{% extends "appmyweb/base.html" %}
{% load static %}
{% block content %}


<main>
  <hr class="featurette-divider">
  <div style="width: 70% auto; text-align: center">
  <div><h2>Términos y condiciones / Autorización de tratamiento de datos</h2></div>
    <div >

      Querido usuario, la página web de MUEBLES MAPE tiene como función principal dar información sobre sus productos y promover la compra en línea a sus clientes bajo 
      el dominio bylmo.com. También, se publica información sobre diversos temas que tengan relación con el objeto social de MUEBLES MAPE

      A continuación, se establecen los términos y condiciones aplicables para el acceso, consulta o uso de esta página web o para la conexión a la misma desde 
      otro sitio web. Mediante el acceso a esta Página web y la “navegación” en la misma, usted expresa su aceptación a estos términos y condiciones y su consentimiento a 
      someterse a lo en ellos establecido. Si usted no está de acuerdo en todo o en parte a estos términos y condiciones lo invitamos a que abandone el sitio

      CUENTAS DE USUARIO
      Si usted crea una cuenta de usuario en www.bylmo.com para comprar productos o recibir información relacionada, usted es responsable por mantener la 
      confidencialidad de su cuenta y su clave. Registrando una cuenta con nosotros, los usuarios aceptan la responsabilidad por todas las actividades que 
      se desarrollen en nuestro sitio con su usuario. MUEBLES MAPE se reserva el derecho, de rechazar, cancelar o terminar su cuenta.

      ENTREGAS
      Teniendo en cuenta que para nosotros es muy importante la satisfacción de nuestros clientes y con el fin de brindarle un mejor servicio, nos reservamos 
      el derecho a cancelar su orden si el producto ya no está en nuestros inventarios.

      MUEBLES MAPE no será responsable por la demora en la entrega por causa extraña, fuerza mayor o cualquier circunstancia que se vaya más allá del control 
      de nuestra compañía.

      Hasta que no se complete el proceso de pago y todos los requisitos de la orden hayan sido llenados, nos reservamos el derecho de propiedad sobre todos los 
      productos.

      USO DE LA PÁGINA WEB
      Usted accede a este sitio de manera libre y por su propia cuenta y riesgo. El uso, acceso o navegación en esta Página Web por parte de los usuarios de la misma 
      deberá hacerse teniendo en cuenta entre otras, las siguientes condiciones particulares.

      1. Se deberá dar cumplimiento a todas las leyes, normas y reglamentos aplicables al uso, acceso y consulta de sitios en Internet.

      2. Se prohíbe distribuir, modificar, alterar, copiar, transmitir, publicar, realizar trabajo de ingeniería inversa, vender o utilizar de cualquier forma El Contenido 
      de esta página web.

      3. Se prohíbe incluir material que sea obsceno, difamatorio, abusivo, amenazante, vulgar, racista, sexista escandaloso, provocador, pornográfico, irreverente, y 
      ofensivo, para MUEBLES MAPE, terceros o cualquier otro usuario o que constituya un delito o conducta criminal bajo las leyes vigentes. En caso de incumplirse esta 
      restricción MUEBLES MAPE colaborará con las autoridades en las investigaciones correspondientes

    </div> 
  </div>
  <hr class="featurette-divider">
</main>

{% endblock %}