{% extends "appmyweb/base.html" %}



{% load static %}



{% block content %}
<style>

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(211, 211, 211, 0.199);
  padding: 50px;
  font-size: 20px;
}
.container {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-top: 56.100%; /* 16:9 Aspect Ratio */
}
</style>
<!--------------------------------------------------------------------------------------------------------------
    <br>
    <div><p>                 
        CONTACTENOS
        {{miFormulario}}
        </p>
    </div> 
    -----------------------------------------------------------------------------------------------------------> 


  
<body>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">       
    <div class="carousel-inner">
        <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/sala1.jpg' %}">
        <div class="container">
            <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            </div>
        </div>
        </div>
    </div>   
</div>

<div class="sticky">
  <div>
    <h2>Contactanos</h2>
    <a style="font-size:2vw;">Facebook:   </a><a class="lead" style="font-size:2vw;" href="https://www.facebook.com/mueblesyaccesoriosparaelhogarMAPE/">mueblesyaccesoriosparaelhogarMAPE</a><br>
    <a style="font-size:2vw;">Whatsapp:   </a><a class="lead" style="font-size:2vw;" href="https://wa.me/+573182051646?text=¡Estoy+interesado!">+573182051646</a><br>
    <a style="font-size:2vw;">Direccion: Cl. 71 Sur ## 89 b -14, Bogotá </a><br>
  </div> 
      <iframe style="position:relative;
     
      width: 100%;
      height: 100%;
      border: none;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15907.27397617174!2d-74.1994128!3d4.6264496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2225331cc0488a6!2sMAPE%20Muebles%20Y%20Accesorios%20Para%20El%20Hogar!5e0!3m2!1ses!2sco!4v1655224596957!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>




</body>   


{% endblock %}