{% extends "appmyweb/base.html" %}

{% load static %}

{% block content %}

<!-----------------------Carrito compras------------------->
  
  <div>

    {% if request.user.is_authenticated %}
    
      {% include "carro/widget.html" %}

    {% else %}
      <div class=" py-5 modal-dialog border-radio">
        <div class="modal-content border-radio color-registro">
          <div class=" p-5 letra-login text-center">
            <h2> Por favor hacer Login </h2>
          </di>
        </div>
      </div>
      
    {% endif %}
    
  </div>

<!-----------------------Fin carrito----------------------->

{% endblock %}
