{% extends "appmyweb/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="">
    {%csrf_token %}
    
    <div class="py-5">old;
        <div class="modal-dialog" style="border-radius: 20px 20px 5px 5px;">
          <div class="modal-content" style="background: linear-gradient(rgba(255, 255, 255, 0.219), rgba(49, 49, 49, 0.144)); border-radius: 20px 20px 5px 5px;">
                <div class=" p-5" style="font-weight: bold;">
        
                {{form|crispy}}
                </div>
                <button type="submit" class="btn btn-success" style="font-weight: bold; background-color:rgba(2, 2, 2, 0.486) ;">Registrar</button>
            </div>    
        </div>
        
    </div>

</form>
{% endblock %}