{% extends "appmyweb/base.html" %}

{% load static %}

{% block content %}
    
    {% for servicio in servicios %} <!-- INICIO DEL CONTENIDO DE LA PAGINA --> 
   <!-- <div class="left"></div>
    <div class="mainleft">
        {{servicio.titulo}}
        <p>{{servicio.contenido}} </p>
    </div>
    
    <div class="mainright">
        <img src="{{servicio.imagen.url}}"><br>
        <hr class="featurette-divider">             
    </div> 
    
    <div class="right"></div>
    -->

    <div class="grid-container">
        
        <div>1</div>
        <div>2</div>
    </div>
    
    {% endfor %}                    <!-- FIN DEL CONTENIDO DE LA PAGINA -->

{% endblock %}