{% extends "appmyweb/base.html" %}

{% load static %}

{% block content %}
    
    {% for servicio in servicios %} <!-- INICIO DEL CONTENIDO DE LA PAGINA --> 
   <!-- <div class="left"></div>
    <div class="mainleft">
        {{servicio.titulo}}
        <p>{{servicio.contenido}} </p>
    </div>
    
    <div class="mainright">
        <img src="{{servicio.imagen.url}}"><br>
        <hr class="featurette-divider">             
    </div> 
    
    <div class="right"></div>
    -->
    
        <div class="column">
          <div class="card">
            <img src="{{servicio.imagen.url}}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>{{servicio.titulo}}</h2>
              <p class="title">{{servicio.contenido}}</p>              
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>    
    
    
    
    {% endfor %}                    <!-- FIN DEL CONTENIDO DE LA PAGINA -->

{% endblock %}