<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    <link href="{% static 'appmyweb/base.css' %}" rel="stylesheet">

</head>
<body>

    <div>                   <!-- Navegador -->
        <div class="encabezado"> <!--Titulo-->
            Muebles MAPE
        </div>
            <ul>
        <!--    <li {% if request.path == '/' %}active{% endif %} ><a href="{% url 'Home' %}">Inicio</a></li>  --> 
                <li  class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'Home' %}">Inicio</a></li> 
                <li  class="{% if request.path == '/tienda' %} active {% endif %}"><a href="{% url 'Tienda' %}">Tienda</a></li>
                <li  class="{% if request.path == '/servicios' %} active {% endif %}"><a href="{% url 'Servicios' %}">Servicios</a></li>
                <li  class="{% if request.path == '/contacto' %} active {% endif %}"><a href="{% url 'Contacto' %}">Contactenos</a></li>
            </ul>
    </div>

                            <!--  Contenido cambiante  -->
    {% block content %}


    {% endblock %}

    <div>                   <!-- Terminos y condiciones -->
        <ul class="terminos">       
            <a>Terminos y condiciones 1</a>
        </ul>
    </div>

</body>
</html>