{% extends "appmyweb/base.html" %}

{% load static %}

{% block content %}

    <div class="imagenes">                 <!-- Secuencia de imagenes --> 
      <ul>
        <li><img src="{% static 'appmyweb/imagen/img1.jpg' %}" alt=""></li>
        <li><img src="{% static 'appmyweb/imagen/img2.jpg' %}" alt=""></li>
        <li><img src="{% static 'appmyweb/imagen/img3.jpg' %}" alt=""></li>
        <li><img src="{% static 'appmyweb/imagen/img1.jpg' %}" alt=""></li>
      </ul>
    </div>

    <div class="row">
        <div class="column">
          <div class="card">
            <img src="{% static 'appmyweb/imagen/im1.jpg' %}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Prueba # 1</h2>
              <p class="title">Ejemplo # 1</p>
              <p>Este es un ejemplo # 1</p>
              <p>mape.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
<!--
        <div class="column">
            <div class="card">
              <img src="{% static 'appmyweb/imagen/im2.jpg' %}" alt="Jane" style="width:100%">
              <div class="container">
                <h2>Prueba # 2</h2>
                <p class="title">Ejemplo # 2</p>
                <p>Este es un ejemplo # 2</p>
                <p>mape.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
-->          
    </div>

{% endblock %}