{% extends "appmyweb/base.html" %}

{% load static %}




{% block content %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: o0px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;

    }

   
    </style>


<!--             AQUI VA EL CONTENIDO DE LA PAGINA                  --> 
<!--------------------------CARRUSEL---------------------------------->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%"  height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/dormitorio1.jpg' %}">
        

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Camas</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/sala1.jpg' %}">

        <div class="container">
          <div class="carousel-caption">
            <h1>Salas</h1>
            <p>Texto </p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/variado.jpg' %}">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Servicios</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!------------------------FIN CARRUSEL-------------------------------->

<!----------------------------SUB TEMAS------------------------------->

  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card" style="border-radius:40px 40px;">
        <a href="http://www.lostejos.com"><img class="bd-placeholder-img rounded-circle" width="220"  height="220"  aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false" href="#" src="{% static 'appmyweb/imagen/comedor1.jpg' %}"></a>
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text"> This is a longer card with supporting. <a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>          
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <a href="http://www.lostejos.com"><img class="bd-placeholder-img card-img-top" width="100%" height="200" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false" href="#" src="{% static 'appmyweb/imagen/comedor1.jpg' %}"></a>
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text"> This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. <a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>          
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <a href="http://www.lostejos.com">        <img class="bd-placeholder-img card-img-top" width="100%" height="200" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false" href="#" src="{% static 'appmyweb/imagen/comedor1.jpg' %}"></a>
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text"> This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. <a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>          
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">
<!-------------------------FIN SUB TEMAS------------------------------->    
    
    
    
    

{% endblock %}