{% extends "appmyweb/base.html" %}

{% load static %}




{% block content %}


<!--             AQUI VA EL CONTENIDO DE LA PAGINA                  --> 


<!--------------------------CARRUSEL---------------------------------->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%"  height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/dormitorio1.jpg' %}">
        

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Camas</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/sala1.jpg' %}">
        

        <div class="container">
          <div class="carousel-caption">
            <h1>Salas</h1>
            <p>Texto </p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/variado.jpg' %}">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Servicios</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!------------------------FIN CARRUSEL-------------------------------->
CATEGORIAS :
<div>
  <div class="row" style="text-align:center">
    
    {% for producto in productos %}
      {% for categoria in producto.categorias.all %}
        <div class="col-lg-2 col-4">
          <img class="bd-placeholder-img rounded-circle" style="border: 8px double; text-align: center;" width="100"  height="100" src="{{categoria.imagen_categoria.url}}">
          <h2>{{categoria.nombre}}</h2>
        <!-- <p><a class="btn btn-secondary" href="#">Detalles &raquo;</a></p>-->
        </div>
      {% endfor %}
    {% endfor %}
          
  </div>
</div>
<!----------------------------SUB TEMAS 1----------------------------->

<!----------------------------FIN TEMAS 1------------------------------>

<!-----------------------CCONTENIDO DE PRODUCTOS----------------------->
<div class="container-xxl" style="margin: auto; width: 100%; text-decoration: center;">
  
  <div style="float:right;">
    col-4fdsjkdasfhjkldasfkljdsahfjkladskfh
  </div>
  <div class="row">
    {% for producto in productos %}
    
  
    <div class="col">
      <div >
        <img class="bd-placeholder-img card-img-top" src="{{producto.imagen.url}}" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{producto.nombre}}</text> <!-- 500x500-->               
      <!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <div class="card-body">
          <p class="card-text">{{producto.contenido}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
            </div>
            <small class="text-muted">{{producto.precio}}</small>
          </div>
        </div>
      </div>
    </div>
  
    {% endfor %} 
    
  </div>
  
</div>
<hr class="featurette-divider">
<!---------------------------------------------------------------------->
    
    

{% endblock %}