{% extends "appmyweb/base.html" %}

{% load static %}




{% block content %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: o0px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;

    }

   
    </style>


<!--             AQUI VA EL CONTENIDO DE LA PAGINA                  --> 
<!--------------------------CARRUSEL---------------------------------->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%"  height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/dormitorio1.jpg' %}">
        

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Camas</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/sala1.jpg' %}">

        <div class="container">
          <div class="carousel-caption">
            <h1>Salas</h1>
            <p>Texto </p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="{% static 'appmyweb/imagen/variado.jpg' %}">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Servicios</h1>
            <p>Texto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver detalles</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!------------------------FIN CARRUSEL-------------------------------->


<div class="grid-container">
    <div class="grid-item">
        <div style="height: 100%; width: 20%; position: relative; float: left;"> <img src="{% static 'appmyweb/imagen/im1.jpg' %}"></div>
        <div style="height: 100%; width: 80%; display:inline-block;">
            <div>
                1.1
            </div>
            <div>
                1.2
            </div>
            <div>
                1.3
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div style="height: 100%; width: 20%; position: relative; float: left;"> <img src="{% static 'appmyweb/imagen/im1.jpg' %}" width="100%" height="100%"></div>
        <div style="height: 100%; width: 80%; display:inline-block;">
            <div>
                1.1
            </div>
            <div>
                1.2
            </div>
            <div>
                1.3
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div style="height: 100%; width: 20%; position: relative; float: left; "> <img  src="{% static 'appmyweb/imagen/im1.jpg' %}" width="100%" height="100%"></div>
        <div style="height: 100%; width: 80%; display:inline-block;">
            <div>
                1.1
            </div>
            <div>
                1.2
            </div>
            <div>
                1.3
            </div>
        </div>
    </div>
  </div>
{% endblock %}